.text-center {
  margin: auto;
  color: white;
}

.btn-size {
  position: relative;
  width: 80px;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}


.footer-background {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}